<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.CartMapper">
  <select id="findByUsername" resultType="com.example.demo.dto.CartDto$Summary">
    select c.id, '${url}'||(select pi.name from product_image pi where pi.product_id=p.id and rownum=1) as image, p.name, c.quantity, c.quantity*p.price as totalPrice
    from cart_item c join product p on c.product_id=p.id where c.username=#{username}
  </select>

  <delete id="deleteAll">
    delete from cart_item c where c.id in
	<foreach collection="ids" item="item" open="(" close=")" separator=",">
      #{item}
	</foreach>
  </delete>

  <select id="findSelectedCartItems" resultType="com.example.demo.entity.order.TempOrder">
    select c.id as cart_item_id, c.username, c.product_id, p.name, p.seller,
    '${url}'||(select pi.name from product_image pi where pi.product_id=p.id and rownum=1) as image,
    c.quantity, c.quantity*p.price as totalPrice from cart_item c join product p on c.product_id=p.id
    where  c.id in
    <foreach collection="ids" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </select>
</mapper>