<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrderMapper">
  <select id="findByUsername" resultType="com.example.demo.dto.OrderDto$Summary">
    select o.id, o.order_at as orderTime, o.status,
      (select count(*) from order_item oi where oi.order_id=o.id) as count,
      (select name from product where id=(select product_id from order_item oi where oi.order_id=o.id and rownum=1)) as product_name
    from orders o where username=#{username}
  </select>

  <select id="findById" resultType="com.example.demo.dto.OrderDto$OrderDetail">
    select address, order_at, order_total_price from orders
  </select>
</mapper>