<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrderItemMapper">
  <insert id="save">
    insert all
    <foreach collection="list" item="item">
      into order_item(order_id, product_id, quantity, total_price, review_writable )
      values (#{item.orderId}, #{item.productId}, #{item.quantity}, #{item.totalPrice}, #{item.reviewWritable})
    </foreach>
    select * from dual
  </insert>

  <select id="findByOrderId" resultType="com.example.demo.dto.OrderDto$Item">
    select oi.product_id, p.name, '${url}'|| (select pi.name from product_image pi where pi.product_id=p.id and rownum=1) as image,
    oi.quantity, oi.total_price, oi.review_writable from order_item oi join product p on oi.product_id=p.id where oi.order_id=#{orderId}
  </select>
</mapper>