<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrderItemMapper">
  <insert id="save">
    insert into order_item(id, order_id, product_id, status, seller, quantity, total_price, review_writable)
    values (order_item_seq.nextval,#{orderId},#{productId},#{status},#{seller},#{quantity},#{totalPrice},#{reviewWritable})
  </insert>

  <select id="findByOrderId" resultType="com.example.demo.dto.OrderDto$Item">
    select oi.id, oi.product_id, p.name as product_name, '${url}'|| (select pi.name from product_image pi where pi.product_id=p.id and rownum=1) as image,
    oi.quantity, oi.total_price, oi.delivery_at, oi.status, oi.review_writable
    from order_item oi join product p on oi.product_id=p.id where oi.order_id=#{orderId}
  </select>

  <select id="findProductByOrderItemId" resultType="com.example.demo.dto.OrderDto$OrderProductDto">
    select id as product_id, name as product_name, '${url}'|| (select pi.name from product_image pi where pi.product_id=p.id and rownum=1) as image from product p
    where id=(select product_id from order_item where id=#{orderItemId} and review_writable=1)
  </select>
</mapper>