<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SellerOrderMapper">
  <select id="findBySeller" resultType="com.example.demo.dto.SellerOrderDto$OrderSummary">
    select oi.id, p.name as productName, o.address, o.order_at, o.orderer, o.orderer, oi.status, oi.product_id,
    oi.quantity, oi.total_price from order_item oi join orders o on oi.order_id=o.id join product p on oi.product_id=p.id
    where oi.seller=#{seller} order by o.order_at, p.id
  </select>

  <update id="updateStatus">
    update order_item set status=#{status} where order_item.id in
    <foreach collection="orderItemList" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </update>

</mapper>